.profile {
  display: flex;
  max-width: 880px;
  justify-content: space-between;
  align-items: center;
  margin: 36.25px auto 0;
}

@media screen and (max-width: 900px) {
  .profile {
    flex-direction: column;
  }
}

/* .profile {
  margin: 40px auto 0;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .profile {
    padding: 0 5.9%;
  }
}

@media (max-width: 600px) {
  .profile {
    flex-direction: column;
    margin-top: 42px;
  }
} */