.profile__info {
  display: flex;
  flex-wrap: wrap;
  max-width: 350px;
}

@media (max-width: 768px) {
  .profile__info {
    max-width: 300px;
  }
}

@media (max-width: 600px) {
  .profile__info {
    max-width: 282px;
    justify-content: center;
  }
}